.idea/*
vars/*
logs/*
tmp/*
gke/*
certs/*
k8s-repo/*
scripts/test.sh

infrastructure/*/*/*/backend.tf
infrastructure/*/*/*/tfplan
infrastructure/*/*/*/terraform.tfvars
infrastructure/*/*/*/.terraform

infrastructure/*/*/*/*/backend.tf
infrastructure/*/*/*/*/tfplan
infrastructure/*/*/*/*/terraform.tfvars
infrastructure/*/*/*/*/.terraform

infrastructure/*/*/backend.tf
infrastructure/*/*/tfplan
# infrastructure/*/*/*.tfvars
infrastructure/*/*/.terraform

# infrastructure/*/*/*/shared_state*
# infrastructure/*/*/*/*/shared_state*

infrastructure/gcp/*/*/*.tfvars
infrastructure/gcp/*/*/shared_state*

infrastructure/ops/prod/istio_prep/istio-operator-*.yaml
infrastructure/ops/prod/istio_prep/operator-*/
infrastructure/ops/prod/k8s_repo/k8s-repo/
infrastructure/ops/prod/k8s_repo/tmp/
infrastructure/ops/prod/k8s_repo/istio-operator-*.yaml
infrastructure/ops/prod/k8s_repo/data.zip
infrastructure/ops/prod/k8s_repo/tmp/

infrastructure/vm-migration/vm/
infrastructure/vm-migration/istio-*
infrastructure/*/*.env
infrastructure/*/*.pem
.DS_Store
